.book-list,
.search-results {
  width: 100%; }
  .book-list .book,
  .search-results .book {
    height: 70px;
    border-bottom: 1px solid #F5F5F5;
    background-color: transparent;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    .book-list .book td,
    .search-results .book td {
      min-width: 20px;
      cursor: pointer;
      position: relative; }
    .book-list .book td:first-child,
    .search-results .book td:first-child {
      padding-left: 20px; }
    .book-list .book td:last-child,
    .search-results .book td:last-child {
      text-align: right;
      padding-right: 20px; }
    .book-list .book:hover,
    .search-results .book:hover {
      background-color: #F5F5F5; }

.book-panel {
  position: fixed;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0;
  z-index: 11;
  color: #fff;
  background-image: url(http://7lrzg1.com1.z0.glb.clouddn.com/cube_bg_light.png);
  background-color: #FF5722;
  background-position-y: -2px;
  display: none;
  box-shadow: 0 0 17px #aaa; }
  .book-panel .book-detail {
    float: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36); }
  .book-panel .btn-group {
    float: right;
    margin-top: 6px;
    margin-right: 40px; }
    .book-panel .btn-group .btn {
      margin: 0 5px;
      padding: 7px 21px;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      vertical-align: text-top;
      background-color: #fff;
      color: #FF5722;
      border-radius: 2px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36); }

.nomore,
.noresult {
  color: #AAA;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  display: none; }
