@import "../common/colors.scss";

.book-list,
.search-results {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;

    .book {
        height: 70px; 
        border-bottom: 1px solid $light_grey;
        background-color: transparent;
        transition: all ease-in-out .2s;

        & td {
            min-width: 20px;
            cursor: pointer;
            position: relative;
        }

        & td:first-child {
            padding-left: 15px;
        }

        & td:last-child {
            text-align: right;
            padding-right: 21px;

            &:before {
                position: absolute;
                color: #fff;
                content: "\f00c 还有呢";
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                top: -1px;
                right: 0;
                opacity: 0;
                height: 71px;
                width: 71px;
                line-height: 71px;
                text-align: center;
                background-color: $light_green;
                transition: all ease-in-out .2s;
            }  

            &.unavailable:before {
                content: "\f00d 借光啦";
                background-color: $ac_red;
            } 
        }

        &:hover {
            background-color: $light_grey;
            
            td:last-child {
                &:before {
                    opacity: 1;
                }
            }  
        }
    }
}


.nomore,
.noresult {
  color: $grey;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}