extends ../common/base.jade

block styles
  link(type='text/css', rel='stylesheet', href='/static/index/index.entry.css')

block content
    section.pdt-95.ms-controller(ms-controller="book_list")
        table.book-list(ms-if="!searching")
            tr.book(ms-repeat="data", ms-click="go(el)")
                td 
                    h3 {{el.title}}
                        small.tag.tag-green(ms-if="el.category == '产品' || el.category == '设计'") {{el.category}}
                        small.tag.tag-red(ms-if="el.category == '财务' || el.category == '金融'") {{el.category}}
                        small.tag.tag-blue(ms-if="el.category == '管理' || el.category == '运营'") {{el.category}}
                        small.tag.tag-orange(ms-if="el.category == '计算机' || el.category == '文学'") {{el.category}}
                    small {{el.author}}
                td {{el.press}}
        p.nomore ╮(╯_╰)╭只有这些了，再翻也没有啦

        table.search-results(ms-if="searching")
            tr.book(ms-repeat="search_data", ms-click="go(el)")
                td 
                    h3 {{el.title}}
                        small.tag.tag-green(ms-if="el.category == '产品' || el.category == '设计'") {{el.category}}
                        small.tag.tag-red(ms-if="el.category == '财务' || el.category == '金融'") {{el.category}}
                        small.tag.tag-blue(ms-if="el.category == '管理' || el.category == '运营'") {{el.category}}
                        small.tag.tag-orange(ms-if="el.category == '计算机' || el.category == '文学'") {{el.category}}
                    small {{el.author}}
                td {{el.press}}
        p.noresult ╮(╯_╰)╭搜不到啊~，换个词试试

    section.book-panel.ms-controller(ms-controller="book", ms-if="data")
        .container
            div.book-detail
                h1 {{data.title}}
                    small.tag {{data.category}}
                p {{data.press}} - {{data.author}}
                p {{data.locate_name}}
            div.btn-group
                a.btn(ms-if="action == 'borrow' && data.count - data.locate.length > 0" ms-click="borrow") 借阅
                a.btn(ms-if="action == 'giveback'" ms-click="giveback") 还书
    
block scripts
    script(src='/static/index/index.entry.js')
    script.
        window.render_book_list(!{data_books})