@import "../common/colors.scss";

.book-list,
.search-results {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;

    .book {
        height: 70px; 
        border-bottom: 1px solid $light_grey;
        background-color: transparent;
        transition: all ease-in-out .2s;

        & td {
            min-width: 20px;
            cursor: pointer;
            position: relative;
        }

        & td:first-child {
            padding-left: 15px;
        }

        & td:last-child {
            text-align: right;
            padding-right: 21px;
            transition: all ease-in-out .2s;

            &:before {
                position: absolute;
                color: #fff;
                content: "\f00c 还有呢";
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                top: -1px;
                right: 0;
                opacity: 0;
                height: 71px;
                width: 71px;
                line-height: 71px;
                text-align: center;
                background-color: $light_green;
                transition: all ease-in-out .2s;
            }  

            &.unavailable:before {
                content: "\f00d 借光啦";
                background-color: $ac_red;
            } 
        }

        &:hover {
            background-color: $light_grey;
            
            td:last-child {
                padding-right: 90px;

                &:before {
                    opacity: 1;
                }
            }  
        }
    }
}

.book-panel {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
    z-index: 11;
    color: #fff;
    background-image: url(http://7lrzg1.com1.z0.glb.clouddn.com/cube_bg_light.png);
    background-color: $ac_red;
    background-position-y: -2px;
    display: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    .book-detail {
        float: left;
    }

    .btn-group {
        float: right;
        margin-top: 6px;
        margin-right: 40px;

        .btn {
            margin: 0 5px;
            padding: 7px 21px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            vertical-align: text-top;
            background-color: #fff;
            color: $ac_red;
            border-radius: 2px;
        }
    }

    .book-cancel {
        position: absolute;
        right: 50%;
        bottom: 3px;
        cursor: pointer;
        text-align: center;
        
        .fa {
            position: relative;
            top: 0;
            font-size: 20px;
            transition: all ease-in-out .2s;
            color: rgba(255, 255, 255, 0.5);
        }

        &:hover {
            .fa {
                top: -2px;
                color: #fff;
            }
        }
    }
}

.nomore,
.noresult {
  color: $grey;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}