@import "../common/colors.scss";

.book-list,
.search-results {
    width: 100%;

    .book {
        height: 70px; 
        border-bottom: 1px solid $light_grey;
        background-color: transparent;
        transition: all ease-in-out .2s;

        & td {
            min-width: 20px;
            cursor: pointer;
            position: relative;
        }

        & td:first-child {
            padding-left: 20px;
        }

        & td:last-child {
            text-align: right;
            padding-right: 20px;
        }

        &:hover {
            background-color: $light_grey;
        }
    }
}

.book-panel {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
    z-index: 11;
    color: #fff;
    background-image: url(http://7lrzg1.com1.z0.glb.clouddn.com/cube_bg_light.png);
    background-color: $ac_red;
    background-position-y: -2px;
    display: none;
    box-shadow: 0 0 17px #aaa;

    .book-detail {
        float: left;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
    }

    .btn-group {
        float: right;
        margin-top: 6px;
        margin-right: 40px;

        .btn {
            margin: 0 5px;
            padding: 7px 21px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            vertical-align: text-top;
            background-color: #fff;
            color: $ac_red;
            border-radius: 2px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
        }
    }
}

.nomore,
.noresult {
  color: $grey;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  display: none;
}