.login-box .banner {
  height: 200px;
  line-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://dn-acac.qbox.me/virtualIndustrialPark.jpg); }
  .login-box .banner h1 {
    font-size: 60px;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }

.login-box .login-form {
  width: 323px;
  padding-left: 23px;
  margin: 0 auto 30px auto; }
  .login-box .login-form input[type="submit"] {
    width: 300px;
    height: 35px; }
