$ac_red: #FF5722;
$wine_red: #E91E63;

$purple: #673AB7;

$blue: #2196F3;
$light-blue: #03A9F4;

$green: #4CAF50;
$deep_green: #539B00;
$light_green: #8BC34A;

$orange: #FF9800;
$light_orange: #FFC107;

$grey: #AAA;
$light_grey: #F5F5F5;
$deep_grey: #999;

$light_black: #333;
