/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5B8B\4F53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }@charset "UTF-8";
body {
  color: #333;
  line-height: 1.5em;
  font-family: 'Hiragino Sans GB', Helvetica, Arial, 'STHeiti', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) {
  .container {
    width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both; }

.panel {
  padding-top: 20px;
  padding-bottom: 20px; }
  .panel .panel-title {
    font-weight: normal;
    border-bottom: 1px dashed #F5F5F5;
    line-height: 22px;
    padding-bottom: 5px;
    margin-bottom: 10px; }

/* 表单样式 */
.aclib-form .aclib-form-item input[type='text'],
.aclib-form .aclib-form-item input[type='password'] {
  display: inline-block;
  height: 40px;
  min-width: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid #F5F5F5;
  -webkit-transition: all ease-in-out .15s;
  -moz-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s; }
  .aclib-form .aclib-form-item input[type='text']:focus,
  .aclib-form .aclib-form-item input[type='password']:focus {
    border-bottom-color: #FF5722; }

.aclib-form .aclib-form-item .aclib-form-tip {
  margin-left: 10px;
  display: none; }

.aclib-form input[type='button'],
.aclib-form input[type='submit'] {
  height: 28px;
  min-width: 60px;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  line-height: 28px;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: #FF5722;
  cursor: pointer; }

.aclib-form input[type='file'] {
  display: none;
  cursor: pointer; }

/* iconfont 颜色*/
.fa {
  color: #FF5722; }

/* 提示文字 */
.text-alert {
  color: #FF5722; }

.text-success {
  color: #8BC34A; }

.text-disabled {
  color: #333; }

.text-date {
  color: #2196F3; }

/* colorful tags */
.tag {
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 1px 2px 2px 2px;
  border: 1px solid;
  color: #AAA;
  font-size: 12px;
  font-weight: normal; }

.tag-red {
  color: #FF5722;
  border-color: #ffcbbb; }

.tag-green {
  color: #539B00;
  border-color: #d5e9bd; }

.tag-blue {
  color: #2196F3;
  border-color: #b2dbfb; }

.tag-orange {
  color: #FF9800;
  border-color: #ffd699; }

/* 隐藏 */
.hidden {
  visibility: hidden; }

/* loading bar */
.loading-bar {
  position: fixed;
  top: 0;
  width: 0;
  height: 2px;
  z-index: 11;
  background-color: #FF5722; }

/* header */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .header .logo {
    float: left; }
  .header .beta {
    position: relative;
    top: -2px;
    left: 5px;
    font-size: 12px;
    color: #fff;
    background: #FF5722;
    padding: 1px 2px 2px 2px; }
    .header .beta:before {
      content: " ";
      width: 0;
      height: 0;
      border: 3px solid transparent;
      border-left-color: #D43F10;
      position: absolute;
      left: 0px;
      top: 15px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .header .nav-list {
    float: right;
    margin-right: 20px;
    overflow: hidden;
    height: 61px; }
    .header .nav-list li {
      width: 70px;
      text-align: center;
      cursor: pointer;
      float: left;
      position: relative;
      border-right: 1px solid rgba(255, 255, 255, 0.4); }
      .header .nav-list li a,
      .header .nav-list li a:hover {
        color: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: inline-block; }
      .header .nav-list li:last-child {
        border-right: none; }
      .header .nav-list li.nav-active {
        border-bottom: 1px solid #FF5722; }
      .header .nav-list li:hover {
        background-color: #F5F5F5; }
      .header .nav-list li.nav-disabled {
        color: #AAA;
        cursor: default;
        background-color: #F5F5F5; }
      .header .nav-list li.nav-auto {
        width: auto;
        padding-left: 15px;
        padding-right: 15px; }
      .header .nav-list li a.nav-logout {
        background-color: #FF5722;
        color: #fff;
        margin-top: 1px; }
        .header .nav-list li a.nav-logout .fa {
          color: #fff; }
      .header .nav-list li.nav-user {
        top: 0;
        -webkit-transition: all ease-out .25s;
        -moz-transition: all ease-out .25s;
        transition: all ease-out .25s; }
      .header .nav-list li.nav-user:hover {
        top: -61px; }
    .header .nav-list li.nav-search-input input {
      height: 33px;
      width: 150px;
      font-size: 13px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      outline: none;
      border: none;
      background: none;
      -webkit-transition: width cubic-bezier(0, 0.96, 0.32, 1.28) 0.4s;
      -moz-transition: width cubic-bezier(0, 0.96, 0.32, 1.28) 0.4s;
      transition: width cubic-bezier(0, 0.96, 0.32, 1.28) 0.4s; }
      .header .nav-list li.nav-search-input input:focus {
        width: 260px; }

@media screen and (max-device-width: 840px) {
  .header {
    display: none; } }

/* padding for header */
.pdt-60 {
  padding-top: 60px; }

.pdt-90 {
  padding-top: 90px; }

/* footer */
.footer {
  text-align: center;
  color: #AAA;
  padding: 30px 0; }

/* about */
.update-date {
  font-weight: normal; }

.update-event {
  text-indent: 1em; }

.update-report {
  margin-bottom: 10px; }
